$color-primary: #03050F;
$color-secondary: #141938;
$color-tertiary: #7981B2;
$color-quaternary: #4F4FFF;
$color-quinary: #F8F9FF;
$color-sextary: #2B304E;
$color-button-primary: $color-primary;
$color-button-secondary: #FF1C44;
$color-checkbox: #0A051E;
$color-white: #FFFFFF;