.home {
    @extend .gridBaseLayout;
    padding-bottom: 96px;

    @media screen and (min-width: 1272px) {
        padding-top: 32px;
        padding-bottom: 112px;
    }

    &__image {
        &--mobile {
            display: block;
            width: 136px;

            @media screen and (min-width: 1272px) {
                display: none;
            }
        }

        &--web {
            display: none;

            @media screen and (min-width: 1272px) {
                display: block;
                width: 480px;
                grid-column-start: 1;
                grid-column-end: span 6;
            }
        }
    }

    &__form {
        grid-column-start: 1;
        grid-column-end: span 4;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 1272px) {
            grid-column-start: 7;
            grid-column-end: span 4;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }

    &__title {
        &--mobile {
            display: flex;
            flex-direction: row;
            gap: 12px;
        }

        &--tag {
            background: linear-gradient(86.01deg, #00F4E2 0%, #00FF7F 100%);
            padding: 2px 8px;
            border-radius: 4px;
            width: fit-content;
            font-size: 12px;
            font-family: "BRSonoma-Bold";
            line-height: 16px;
            letter-spacing: 0.4px;

            @media screen and (min-width: 1272px) {
                font-size: 14px;
                padding: 5px 9px;
            }
        }

        &--title {
            font-size: 28px;
            font-family: "BRSonoma-Bold";
            margin-top: 8px;
            line-height: 36px;

            @media screen and (min-width: 1272px) {
                font-size: 32px;
                line-height: 40px;
            }
        }
    }

    &__terms {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media screen and (min-width: 1272px) {
            gap: 12px;
        }
    }

    &__termsAndConditions {
        font-family: "BRSonoma-SemiBold";
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.1px;
        width: fit-content;
        text-align: left;
        text-decoration: underline !important;
    }
}