.loader {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.button {
    &--black {
        border-radius: 40px;
        padding: 16px 40px;
        color: $color-white;
        background-color: $color-button-primary;
        min-width: 336px;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.4px;
        font-family: "BRSonoma-Bold";

        @media screen and (min-width: 1272px) {
            padding: 18px 37px;
            min-width: 195px;
            line-height: 24px;
            font-size: 20px;
        }
    }

    &--pink {
        border-radius: 32px;
        padding: 14px 32px;
        background-color: $color-button-secondary;
        color: $color-white;

    }
}