@font-face {
    font-family: "BRSonoma-Black";
    src: url("/public/fonts/BRSonoma-Black.otf");
}

@font-face {
    font-family: "BRSonoma-SemiBold";
    src: url("/public/fonts/BRSonoma-SemiBold.otf");
}

@font-face {
    font-family: "BRSonoma-Bold";
    src: url("/public/fonts/BRSonoma-Bold.otf");
}